body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
}

.loading {
    display: none;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.loading-bar-field {
    display: flex;
    align-items: flex-start;
    height: 40px;
    width: 200px;
    background-color: red;
}

.loading-bar-fill {
    height: 100%;
    width: 50%;
    margin-left: 0;
    background-color: #ffffff;
}