body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333d29;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
}

.loading {
    display: none;
    justify-content: center;
    height: 50%;
    width: 100%;
    overflow: auto;
}

.loading-bar-field {
    display: flex;
    align-items: center;
    height: 40px;
    width: 50%;
    ;
    background-color: transparent;
    border: 5px solid #c2c5aa;

}

.loading-bar-fill {
    margin: 5px 5px;
    height: 80%;
    width: 100%;
    background-color: #c2c5aa;
}

.loading-text {
    color: #c2c5aa;
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    height: 50%;
    width: 100%;
    text-align: center;
}